{% extends "base.html" %}
{% load static %}
{% block title %} Hiking Safety {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/hikingSafety.css' %}" />
<header>
    <h1 class="title">Hiking Guidelines</h1>
    <h2 class="sub-title">from the <a href="https://dlnr.hawaii.gov/dsp/hiking/hiking-in-hawaii/">Department of Land and Natural Resources</a></h2>
</header>
<main>
    <div class="intro">
        <h3 class="intro-title">Hiking In Hawaii</h3>
        <p class="intro-text">Hiking in the Hawaiian Islands offers residents and visitors many opportunities to experience a unique natural environment.  Known throughout the world for a wide variety of ecosystems, trails in Hawai‘i can take you to coastal dunes, shrublands, rainforests, and high alpine deserts.  Certain historic trails provide a glimpse of the cultural heritage of Hawai‘i as they traverse past historic and archeological sites.  Isolated by over 2,000 miles from the nearest landmass, native Hawaiian flora and fauna evolved into highly specialized species and some endemic species found nowhere else in the world.</p>
        </div>
    <div class="rule-container">
        <h3 class="rule-title">Remember:</h3>
        <p class="rule-text">When you are hiking on trails in Hawai‘i, you are a guest in the home of our forest creatures and Hawaiian ancestors. Please treat these areas with respect. Read and follow any official informational or directional signage that may be posted along the trail to ensure that you are not walking onto sacred sites or areas of ecological restoration.</p>
    </div>
    <div class="rule-container">
        <h3 class="rule-title">User Group Etiquette</h3>
        <p class="rule-text">For trails where multiple group use occurs (hiking, mountain biking, horseback riding), please honor the multiple use trail guidelines.</p>
    </div>
    <div class="rule-container">
        <h3 class="rule-title">Pet Owners</h3>
        <p class="rule-text">If you are on a trail in a Public Hunting Area, you might encounter hunting dogs along the trail, and your pet may be at risk. Make sure that your dog is leashed, and kept at a safe distance. Please be considerate of other trail users, and remove any droppings from the trail.</p>
    </div>
    <div class="rule-container">
        <h3 class="rule-title">Inform Others of Your Plans</h3>
        <p class="rule-text">Let someone know which trail (name and location) you plan to hike on, and when you expect to return. If something should go wrong, rescuers will have accurate information on where to start searching.</p>
    </div>
    <div class="rule-container">
        <h3 class="rule-title">Hike With A Partner</h3>
        <p class="rule-text">Don’t hike alone. Frequently, people who get into trouble are alone. In case of an emergency, your partner’s help can be invaluable.</p>
    </div>
    <div class="rule-container">
        <h3 class="rule-title">Get Information About the Trail</h3>
        <p class="rule-text">Prior to hiking, learn about the trail you intend to hike so you will know the route, where to start, and the degree of difficulty.  This information can be found on the website, by contacting the NAH staff, or in a trail guidebook.</p>
    </div>
    <div class="rule-container">
        <h3 class="rule-title">Assess Your Capabilities</h3>
        <p class="rule-text">Compare your level of fitness, ability, and experience with the trail description. Be practical and realistic. There are a wide variety of trails in Hawai‘i, so pick one that suits your level.</p>
    </div>
    <div class="rule-container">
        <h3 class="rule-title">Check Weather Conditions</h3>
        <p class="rule-text">Sunny and clear mornings are sometimes followed by rain and wind later in the day. Flash floods are dangerous possibilities in the narrow gulches. Call the National Weather Service for the latest forecast.</p>
    </div>
    <div class="rule-container">
        <h3 class="rule-title">Wear Proper Clothing</h3>
        <p class="rule-text">Dress in layers so you can protect your skin from the intense tropical sun.  A hat, sunglasses and sunscreen are recommended.  Hiking boots offer traction and ankle support to prevent slipping and injuries on muddy trails and slick or sharp rocks.  Light rain gear is good to carry because of the quickly changing weather conditions.</p>
    </div>
</main>
{% endblock content %}