{% extends "base.html" %}
{% load static %}
{% block title %} Hiking Safety {% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/hikingSafety.css' %}">
<header>
    <div class="title-container">
        <h1 class="header-title">Hiking Guidelines</h1>
        <h2 class="sub-title"><i>from the <a href="https://dlnr.hawaii.gov/dsp/hiking/hiking-in-hawaii/">Department of Land and Natural Resources</a></i></h2>
    </div>
    </header>



    <div class="container">      
      <article class="episode">
        <div class="episode__number">00</div>
        <div class="episode__content">
          <div class="title">Hiking In Hawaii</div>
          <div class="story">
            <p>Hiking in the Hawaiian Islands offers residents and visitors many opportunities to experience a unique natural environment.  Known throughout the world for a wide variety of ecosystems, trails in Hawai‘i can take you to coastal dunes, shrublands, rainforests, and high alpine deserts.  Certain historic trails provide a glimpse of the cultural heritage of Hawai‘i as they traverse past historic and archeological sites.  Isolated by over 2,000 miles from the nearest landmass, native Hawaiian flora and fauna evolved into highly specialized species and some endemic species found nowhere else in the world.</p>
          </div>
        </div>
      </article>
      
      <article class="episode odd">
        <div class="episode__number">01</div>
        <div class="episode__content">
          <div class="title">Remember</div>
          <div class="story">
            <p>When you are hiking on trails in Hawai‘i, you are a guest in the home of our forest creatures and Hawaiian ancestors. Please treat these areas with respect. Read and follow any official informational or directional signage that may be posted along the trail to ensure that you are not walking onto sacred sites or areas of ecological restoration.</p>
          </div>
        </div>
      </article>
      
      <article class="episode">
        <div class="episode__number">02</div>
        <div class="episode__content">
          <div class="title">User Group Etiquette</div>
          <div class="story">
          <p>For trails where multiple group use occurs (hiking, mountain biking, horseback riding), please honor the multiple use trail guidelines.</p>
          </div>
        </div>
      </article>
      
      <article class="episode odd">
        <div class="episode__number">03</div>
        <div class="episode__content">
          <div class="title">Pet Owners</div>
          <div class="story">
            <p>If you are on a trail in a Public Hunting Area, you might encounter hunting dogs along the trail, and your pet may be at risk. Make sure that your dog is leashed, and kept at a safe distance. Please be considerate of other trail users, and remove any droppings from the trail.</p>
          </div>
        </div>
      </article>

      <article class="episode">
        <div class="episode__number">04</div>
        <div class="episode__content">
          <div class="title">Inform Others of Your Plans</div>
          <div class="story">
            <p>Let someone know which trail (name and location) you plan to hike on, and when you expect to return. If something should go wrong, rescuers will have accurate information on where to start searching.</p>
          </div>
        </div>
      </article>

      <article class="episode odd">
        <div class="episode__number">05</div>
        <div class="episode__content">
          <div class="title">Hike With A Partner</div>
          <div class="story">
            <p>Don’t hike alone. Frequently, people who get into trouble are alone. In case of an emergency, your partner’s help can be invaluable.</p>
          </div>
        </div>
      </article>

      <article class="episode">
        <div class="episode__number">06</div>
        <div class="episode__content">
          <div class="title">Get Information About the Trail</div>
          <div class="story">
            <p>Prior to hiking, learn about the trail you intend to hike so you will know the route, where to start, and the degree of difficulty.  This information can be found on the website, by contacting the NAH staff, or in a trail guidebook.</p>
          </div>
        </div>
      </article>

      <article class="episode odd">
        <div class="episode__number">07</div>
        <div class="episode__content">
          <div class="title">Assess Your Capabilities</div>
          <div class="story">
            <p>Compare your level of fitness, ability, and experience with the trail description. Be practical and realistic. There are a wide variety of trails in Hawai‘i, so pick one that suits your level.</p>
          </div>
        </div>
      </article>

      <article class="episode">
        <div class="episode__number">08</div>
        <div class="episode__content">
          <div class="title">Check Weather Conditions</div>
          <div class="story">
            <p>Sunny and clear mornings are sometimes followed by rain and wind later in the day. Flash floods are dangerous possibilities in the narrow gulches. Call the National Weather Service for the latest forecast.</p>
          </div>
        </div>
      </article>

      <article class="episode odd">
        <div class="episode__number">09</div>
        <div class="episode__content">
          <div class="title">Wear Proper Clothing</div>
          <div class="story">
            <p>Dress in layers so you can protect your skin from the intense tropical sun.  A hat, sunglasses and sunscreen are recommended.  Hiking boots offer traction and ankle support to prevent slipping and injuries on muddy trails and slick or sharp rocks.  Light rain gear is good to carry because of the quickly changing weather conditions.</p>
          </div>
        </div>
      </article>
    </div>

{% endblock content %}