{% extends 'base.html' %}
{% load static %}

{% block title %}Alaka'i - Trail Map{% endblock title %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
/>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<script src="{% static 'js/trailMapPage.js' %}"></script>

<div class="absolute flex flex-col h-full w-full bg-white lg:flex-row" id="root">
</div>    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/trails.js' %}"></script>
<script src="{% static 'js/index-bundle.js' %}"></script>

<script>  
</script>

<style>
    /* css to customize Leaflet default styles  */
    .popupCustom .leaflet-popup-tip,
    .popupCustom .leaflet-popup-content-wrapper {
        background: #097969;
        color: #e0e0e0;
        font-weight: bold;
        font-size: 15px;
    }

    #map {
        z-index: 1
    }

</style>


{% endblock content %}
