{% extends 'base.html' %}
{% load static %}

{% block title %}Oahu Hiking Directory{% endblock title %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
/>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<script src="{% static 'js/trailMapPage.js' %}"></script>

<div class="absolute flex h-full w-full bg-white">
    <div id='hike-list' class="p-4 flex-auto flex-col-1 flex-row-auto w-1/3 h-full overflow-y-auto space-y-4 bg-gray-50">  
        <div class = "flex w-full h-auto flex-row-1 space-x-3 bg-gray-50 justify-left">
            <div class = "flex w-auto h-auto flex-row-1 justify-left">
                <div class = "flex w-full h-auto flex-col-1 space-x-2">
                    <ul class="flex justify-left">
                        <i class="fas fa-grip-vertical py-1"></i>
                    </ul>
                    <p> Sort By </p>
                    <select name="sort" id="sort"></select>
                </div>
            </div>
            <div class = "flex w-1/2 h-auto flex-row-1 space-x justify-left">
                <div class = "flex w-full h-auto flex-col-1 space-x-2">
                    <ul class="flex justify-left">
                        <i class="fas fa-filter py-1"></i>
                    </ul>
                    <p> Filters </p>
                    <select name="filter" id="filter"></select>
                </div>
            </div>
        </div>

    {% for hike in hike_list %}
    <button onclick="open_menu(
        '{{hike.id}}', '{{hike.hike_name}}', '{{hike.hike_difficulty}}', '{{hike.hike_rating}}', '{{hike.hike_traffic}}', 
        '{{hike.hike_description}}', '{{hike.hike_route}}','{{ hike.hike_images }}', '{{ hike.hike_duration }}',  
        '{{ hike.hike_length }}', '{{ hike.hike_elevation }}','{{ hike.hike_attributes }}'
        );" 
    class="transition-all duration-200 ease-in-out w-full h-auto bg-white border-4 border-white rounded-md px-3 hover:border-white-100 shadow hover:border-indigo-500 text-left">

        <div class="flex flex-row-1 space-x-3 justify-right">
            <h><b> {{ hike.hike_name }} </b></h>
        </div> 
        <div class="flex flex-row-1 space-x-3">
            <p> Average Rating </p>
            <ul class="flex justify-center">                        
                <li class="flex justify-center space-x-2" id="{{hike.id}}-rating">                
                </li>
            </ul>
            <script> 
                add_stars('{{hike.id}}-rating','{{hike.hike_rating}}')
            </script>
        </div>
        <div class="flex flex-row-1 space-x-2">
            <i class="fas fa-hiking justify-center py-1"></i> 
            <div class="flex flex-row bg-gray-100 px-2 rounded-md">
                <p class=""> {{hike.hike_length}} km / </p>   
                <p class="px-2" id="hike_duration_inline_{{hike.id}}" class=""></p>
            </div>

            <h class="rounded-md border border-gray-100 bg-gray-100 px-2">Difficulty: {{hike.hike_difficulty}} / 5 </h>
            <script>
                add_duration('hike_duration_inline_{{hike.id}}', '{{hike.hike_duration}}')
            </script>
        </div>
        <div class="flex flex-row-1 space-x-3">
            {% if hike.hike_traffic == 5 %}
            <p> Heavy Traffic </p>
            {% endif %} 
            {% if hike.hike_traffic == 4 %}
            <p> Moderate  Traffic </p>
            {% endif %}
            {% if hike.hike_traffic == 3 %}
            <p> Moderate Traffic </p>
            {% endif %}
            {% if hike.hike_traffic == 2 %}
            <p> Light Traffic </p>
            {% endif %} 
            {% if hike.hike_traffic == 1 %}
            <p> Light Traffic </p>
            {% endif %}
            
            <ul class="flex justify-center">                        
                <li class="flex justify-center space-x-2" id="{{hike.id}}-traffic">                
                </li>
            </ul>
            <script>add_cars("{{hike.id}}-traffic","{{hike.hike_traffic}}")</script>
        </div>
    </button>
    {% endfor %}
    </div>    
            
    <div id='hike-popout' class="transition-transform flex flex-col w-1/3 hidden border-4 border-white px-3 overflow-y-auto scrollbar scrollbar-thumb-gray-900 scrollbar-track-gray-100">
        <div class="flex flex-col-auto w-full">
            <button onclick="open_list()" class="hover:border-3 rounded-md w-10 h-10 flex flex-row " >
                <i class="py-2 fas fa-arrow-left fa-lg"></i>
            </button>
        </div>
        <div id="hike-popout-info" class="flex flex-col w-full h-full">
            <div id="hike-info" class="flex flex-col justify-center gap-4">
                <div class='flex justify-center py-3'>
                    <h1 id="hike_title" class="text-2xl font-bold text-center"> </h1>
                </div>
                <div class='flex justify-center rounded-full py-3 gap-3'>
                    <img id="hike_image" class="transform w-3/4 h-full rounded-full border-8 transition ease-in-out duration-500 border-gray-100 hover:scale-105 hover:border-indigo-500" src="">
                </div>
                <div class='flex justify-center'>
                    <ul class="flex justify-center space-x-2">      
                        <h1> Rating </h1>                  
                        <li class="flex justify-center space-x-2" id="hike_rating">                
                        </li>
                    </ul>
                </div>
                <div class='flex flex-row justify-center gap-4'>
                    <div class='flex justify-center'>   
                        <h id="hike_difficulty" class="rounded-md border border-gray-100 bg-gray-100 px-2"></h>
                    </div>
                    <div class='flex justify-center'>
                        <ul class="flex justify-center space-x-2">                      
                            <h1>Traffic </h1>  
                            <li class="flex justify-center space-x-2" id="hike_traffic">                
                            </li>
                        </ul>
                    </div>
                </div>     
                <div class="px-4 grid grid-cols-3 divide-x divide-indigo-500">

                    <div class="text-center text-xl"></div>
                    <div class="text-center text-xl"></div>
                    <div class="text-center text-xl"></div>

                    <div id='hike_elevation' class="text-center text-xl">
                    </div>
                    <div id='hike_length' class="text-center text-xl"> 
                    </div>
                    <div id='hike_duration' class="text-center text-xl"> 
                    </div>
                  
                  </div>
                <div class='flex flex-row justify-center gap-1'>   
                    <p id="hike_attributes" class="px-1"></p>
                </div>    
                <div class="h-full border border-l-0 border-r-0 border-t-4 border-b-0 border-gray-100 px-2 ">
                    <div class='w-full h-full justify-center px-2 gaps-4'>   
                        <h1 class="text-2xl font-medium">Route</h1>
                        <p id="hike_route_description" class="text-xl px-8 py-4 border border-l-4 border-r-0 border-t-0 border-b-0 border-indigo-500 shadow-md rounded-lg"></p>
                        <h1 class="text-2xl font-medium  py-2">Description</h1>
                        <p id="hike_description" class="text-xl px-8 py-4 border border-l-4 border-r-0 border-t-0 border-b-0 border-indigo-500 shadow-md rounded-lg"></p>
                    </div>                   
                </div> 
            </div>
        </div>            
    </div>

    
    <div class="p-4 flex-auto w-full h-full">
        <div id="map" class="h-full w-full"></div>
    </div>
</div>
<style>
    /* css to customize Leaflet default styles  */
    .popupCustom .leaflet-popup-tip,
    .popupCustom .leaflet-popup-content-wrapper {
        background: #097969;
        color: #e0e0e0;
        font-weight: bold;
        font-size: 15px;
    }
</style>

<script type="module">
    import { getTraffic } from '../../static/js/trafficdataparse.js'
    import { showMap } from '../../static/js/trafficmap.js'   

    var trafficDataString = '{{ traffic_data|safe }}'

    var trafficdata = getTraffic(trafficDataString)

    var origin = [21.31526, -157.82861];
    var zoom = 15;
    var timeSlot = "num_people_4";

    showMap(origin, zoom, trafficdata, timeSlot)
</script>

{% endblock content %}
