[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==5.0.6"
asgiref = "==3.4.1"
"backports.zoneinfo" = "==0.2.1"
billiard = "==3.6.4.0"
boto3 = "==1.19.12"
botocore = "==1.22.12"
cached-property = "==1.5.2"
certifi = "==2021.10.8"
cffi = "==1.15.0"
charset-normalizer = "==2.0.7"
click = "==8.0.3"
click-didyoumean = "==0.3.0"
click-plugins = "==1.1.1"
click-repl = "==0.2.0"
colorama = "==0.4.4"
cryptography = "==35.0.0"
django-dramatiq = "==0.10.0"
django-filter = "==21.1"
django-storages = "==1.12.3"
django-timezone-field = "==4.2.1"
djangorestframework = "==3.12.4"
dramatiq = "==1.12.0"
greenlet = "==1.1.2"
gunicorn = "==20.1.0"
idna = "==3.3"
importlib-metadata = "==4.8.1"
jmespath = "==0.10.0"
jwt = "==1.3.1"
kombu = "==5.2.1"
phonenumbers = "==8.12.36"
pika = "==1.2.0"
prometheus-client = "==0.12.0"
prompt-toolkit = "==3.0.22"
psycopg2 = "==2.9.1"
pycparser = "==2.21"
python-crontab = "==2.6.0"
python-dateutil = "==2.8.2"
python-dotenv = "==0.19.1"
pytz = "==2021.3"
pytz-deprecation-shim = "==0.1.0.post0"
redis = "==3.5.3"
requests = "==2.26.0"
s3transfer = "==0.5.0"
six = "==1.16.0"
sqlparse = "==0.4.2"
stripe = "==2.61.0"
twilio = "==7.3.0"
typing-extensions = "==3.10.0.2"
tzdata = "==2021.5"
tzlocal = "==4.1"
urllib3 = "==1.26.7"
vine = "==5.0.0"
wcwidth = "==0.2.5"
whitenoise = "==5.3.0"
zipp = "==3.6.0"
Django = "==3.2.8"
Markdown = "==3.3.4"
Pillow = "==8.4.0"
PyJWT = "==2.3.0"

[dev-packages]

[requires]
python_version = "3.10"
