{% extends 'base.html' %}
{% load static %}

{% block title %}Profile - {{ user.email }}{% endblock title %}

{% block content %}
<h1>{{ user.email }}</h1>
<h2>{{ user.hikes_completed }}</h2>
<h3>{{ user.points }}</h3>
<br/>
{% if user.profile_picture == None %}
<img src="{% static 'images/defaultProfilePicture.jpg' %}" alt="Default Profile Picture/>
{% else %}
<img src="{{ user.profile_picture }}" alt="Profile Picture"/>
{% endif %}
<a href="{% url 'logout' %}">Logout</a>
{% endblock content %}