{% extends 'base.html' %}
{% load static %}

{% block title %}Profile - {{ user.email }}{% endblock title %}

{% block content %}
<div class="flex justify-center items-center h-full w-full">
    <div class="bg-gray-50 flex flex-col p-6 rounded-lg gap-3 h-full w-full ">
        <div class="rounded-full justify-right">
        </div>

        <div class="grid grid-cols justify-center gaps-4">
            <h1 class="text-xl text-center"> Welcome back, {{ user.email }}!</h1>
        </div>
        <br/>
        <div class="grid grid-cols justify-center" >
            <h3 class="text-center text-3xl">Upcoming Reservations</h3>
            <div class="grid grid-col overflow-y-auto p-4 gaps-4">
                {% for res in res_list %}
                <div class="grid bg-gray-100 rounded-lg space-y-2">
                    <p class="text-center"> <b> {{ res.hike }} </b></p>
                    <p class="text-center"> Time {{res.time }}</p>
                    <p class="text-center"> Date {{ res.date }}</p>
                    <p class="text-center"> Number of People {{ res.number_of_people }}</p>
                    {% if res.emergency_contact %}
                    <p class="text-center"> Emergency Contact: {{ res.emergency_contact }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                {% if res_list.count == 0 %}
                <p class="text-center"> No upcoming reservations. Hope to see you soon!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}