{% extends 'base.html' %}
{% load static %}

{% block title %}Alaka'i - Reservations{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/reservations.css' %}" />

<div class="flex h-screen justify-center items-center">
    <div class="bg-white flex flex-col p-6 rounded-lg gap-3">
        <p class='text-center'>Make Reservation</p>
        <form style="background:white" class="w-full" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex justify-center w-full">
                <button class="border border-3 bg-white hover:bg-gray-100 rounded-md p-1" type="submit">Submit</button>
                        
    </div>
</div>
{% endblock content %}