{% extends 'base.html' %}
{% load static %}

{% block title %}Alaka'i - Reservations{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/reservations.css' %}" />

<div class="flex px-12 lg:px-0 py-12 h-full w-full items-center justify-center bg-white-100 border">
    <div class="max-w-xl w-full max-h-xl h-full bg-white border border-t-8 border-purple-500 rounded-lg p-4">
        <p class='text-center text-2xl'>Make Reservation</p>
        <form class="flex flex-col justify-center w-full" method="post">
            {% csrf_token %}
            <p>
                <p>Hike: </p>
                {{ form.hike.as_widget }}
            </p>
            <p>
                <p>Time: </p>
                    {{ form.time.as_widget }}
            </p>
            <p>
                <p>Date:</p>
                {{ form.date.as_widget }}
            </p>
            <p>
                <p>Number of people:</p>
                {{ form.number_of_people.as_widget }}
            </p>
            <p class="">
                <p>
                    Emergency Contact:
                </p>
                {{ form.emergency_contact.as_widget }}
                <a class="" href="{% url 'emergencyContact' %}"><p class="text-right">(Create Emergency Contact)</p></a>    
            </p>
            
            <button class="border border-3 bg-white hover:bg-gray-100 rounded-md p-1" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}
